@import "reactjs-popup/dist/index.css";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.form__input {
  font-family: inherit;
  font-size: inherit;
}

.App {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 100vh;
  width: 100vw;
}

.users__menu--back {
  background-color: #121212;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.users__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.12);
}

.users__add {
  transform: scale(1.5);
  cursor: pointer;
}

.newUser__close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  outline: none;
}

.newUser__header {
  text-align: center;
}

.newUser__modal {
  padding: 1rem;
}

.newUser__form {
  display: grid;
  row-gap: 10px;
  justify-items: center;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__input {
  width: 300px;
}

.address__input {
  position: relative;
}

.address__suggestions {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
}

.address__item {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.popup-content {
  width: auto;
}

.users__list {
  display: grid;
  row-gap: 10px;
  padding: 1rem 2rem;
}

.user__card--back {
  background-color: #121212;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.user__card {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  color: white;
}

.users {
  background-color: #121212;
}
